html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

.banner {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

.icon {
  color: #ff9500;
}

.btn {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.unit:nth-child(3) {
  border-color: rgba(255, 255, 255, 1);
}

.btn:hover {
  color: #ff9500;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 60em) {

  h2 {
    text-align: left;
  }

}
